<div id="__mainarea">
    <div id="__tools">
    	<form action="/apps" method="post">
    		<input type="hidden" name="code" value=""/>
    		<input id="__exportApp" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only" type="submit" value="Export App" onClick="exportApp(this.form);"/>
    	</form>
    </div>
    <div id="__data">
    </div>
    <div id="__code">
    </div>
    <div id="__status">
    </div>
</div>

